<footer class="entry-footer">
  <span class="posted-on" title="{{ _('Fecha de publicación') }}"><span class="screen-reader-text">{{ _('Publicado el') }} </span>
    {% set año = article.date|strftime('%Y') %}
    {% set mes = article.date|strftime('%m') %}
    {% set nombre_mes = article.date|strftime('%B') %}
    {% set dia_publicacion = article.date|strftime('%-d') %}
    <time class="entry-date published" datetime="{{ article.date.isoformat() }}">{% trans %}{{ dia_publicacion }}{% endtrans %} <a href="{{ SITEURL }}/{{ ARCHIVES_URL}}{{ año }}/{{ mes }}/" title="{% trans %}Artículos de {{ nombre_mes }} de {{ año }}{% endtrans %}">{{ nombre_mes }}</a> <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}{{ año }}/" title="{% trans %}Artículos de {{ año }}{% endtrans %}">{{ año }}</a></time>
  </span>
  {% if article.modified %}
    {% set año_mod = article.modified|strftime('%Y') %}
    {% set nombre_mes_mod = article.modified|strftime('%B') %}
    {% set dia_mod = article.modified|strftime('%-d') %}
  <span class="edit-link" title="{{ _('Fecha de modificación') }}"><span class="screen-reader-text">{{ _('Modificado el %(fecha)s'|format(fecha='</span><time class="updated" datetime="%s">' + _('%(dia)s %(mes)s %(año)s', dia=dia_mod, mes=nombre_mes_mod, año=año_mod) + '</time>')|format(article.modified.isoformat())) }}
  </span>
  {% endif %}
  <span class="cat-links" title="{{ _('Categoría') }}"><span class="screen-reader-text">{{ _('Categoría') }} </span>
      <span>{% trans categoria='<a href="%s" title="%s">%s</a>'|format(SITEURL + '/' + article.category.url, _('Artículos en la categoría %(categoria)s', categoria=article.category), article.category) %}En {{ categoria }}{% endtrans %}</span>
  </span>
  {% include 'taglist.html' %}
  <span class="comments-link" title="{{ _('Comentarios') }}">
    <a class="hashover-count-link" href="{{ SITEURL }}/{{ article.url }}#hashover"></a>
    <span class="screen-reader-text">{{ _('en %(articulo)s', articulo=article.title) }}</span>
  </span>
    {% import 'translations.html' as translations with context %}
    {% if translations.translations_for(article) %}
      <span class="icon-language" title="{{ ngettext('Traducción', 'Traducciones', article.translations|length) }}">
      {{ translations.translations_for(article) }}
      </span>
    {% endif %}
</footer><!-- /.post-info -->
