{% extends "base.html" %}

{% block extra_head %}
  <meta name="description" content="{{ _('Lista de autores de Freak Spot.') }}">
  <meta name="keywords" content="{{ _('articulistas,autores,colaboradores,escritores,lista de autores') }}">
{% endblock %}

{% block title %}{% trans %}Autores de {{ SITENAME }}{% endtrans %}{% endblock %}

{% block content %}
<article class="page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">{{ _('Créditos') }}</h1>
  </header>
  <div class="entry-content">
    <h2>{{ _('Artículos') }}</h2>
    <ul>
      {%- for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}" title="{% trans %}Artículos escritos por {{ author }}{% endtrans %}">{{ author }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
    <h2>{{ _('Programación') }}</h2>
    <ul>
      <li>Jorge Maldonado Ventura</li>
      <li><a href="https://jestupinanm.ga/" title="Sitio web de Jesús E.">Jesús E.</a></li>
    </ul>
    <h2>{{ _('Traducción') }}</h2>
    <ul>
      <li><a href="https://rosenzweig.io/" title="Sitio web de Alyssa Rosenzweig">Alyssa Rosenzweig</a></li>
      <li>Jorge Maldonado Ventura</li>
    </ul>
    <h2>{{ _('Programas utilizados') }}</h2>
    {% set software = (('https://www.awstats.org/', 'AWStats'),
                       ('http://babel.pocoo.org/', 'Babel'),
                       ('https://pypi.org/project/beautifulsoup4/', 'BeautifulSoup4'),
                       ('https://pypi.org/project/Markdown/', 'Markdown'),
                       ('https://nginx.org/', 'Nginx'),
                       ('https://getpelican.com/', 'Pelican'),
                       ('https://www.python.org/', 'Python'),
                       ('/pages/librejs.html', _('Varios programas de JavaScript'),)) %}
    <ul>
      {% for program in software %}
        <li><a href="{{ program[0] }}" title="{{ _('Sitio web de %(programa)s', programa=program[1]) }}">{{ program[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
