{% extends "index.html" %}

{% block extra_head %}
    <meta name="author" content="{{ author }}">
    <meta name="description" content="{% trans %}Artículos escritos por {{ author }} en Freak Spot.{% endtrans %}">
    <meta name="keywords" content="{% trans %}articulista,artículos,autor,autor {{ author }},escritor,{{ author }}{% endtrans %}">
{% endblock %}

{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}

{% block content %}
  <header class="page-header">
    <h1 class="page-title">{% trans %}Autor: {{ author }}{% endtrans %}</h1>
  </header>
  {{ super() }}
{% endblock %}
