{% extends "index.html" %}

{% block extra_head %}
<meta name="description" content="{{ _('Artículos en la categoría «%(categoria)s» en Freak Spot.', categoria=category) }}">
<meta name="keywords" content="{{ _('artículos,categoría,categoría %(categoria)s,%(categoria)s', categoria=category) }}">
{% endblock %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block content %}
  <header class="page-header">
      <h1 class="page-title">{{ _('Categoría: %(categoria)s', categoria=category) }}</h1>
  </header>
  {{ super() }}
{% endblock %}
