{% extends "base.html" %}

{% block extra_head %}
  {{ super() }}
  {% if lang_siteurls and articles_page.number == 1 %}
    {% for lang, url in lang_siteurls.items() %}
      {% if DEFAULT_LANG != lang %}
      <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}/">
      {% endif %}
    {% endfor %}
  {% endif %}
  <script src="/hashover-next/api/count-link.php?nodefault"></script>
{% endblock %}

{% block title %}{{ SITENAME }}{% if articles_page.number != 1 %} | {{ _('Página') }} {{ articles_page.number }}{% endif %}{% endblock %}
{% block logo %}<h1>{{ super() }}</h1>{% endblock %}
{% block final_scripts %}
  {{ super() }}
  <script>
  var countLink = new HashOverCountLink ({
      language: '{{ HASHOVER_LANG }}',
  });
  </script>
{% endblock %}
