{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock%}

{% block extra_head %}
    {% import 'translations.html' as translations with context %}
    {% if translations.entry_hreflang(page) %}
      {{ translations.entry_hreflang(page) }}
    {% endif %}
  <meta name="author" content="{{ author }}">
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block head %}
{{ super() }}
  {% if page.styles %}
    {% for style in page.styles %}
      {{ style|format(SITEURL) }}
    {% endfor %}
  {% endif %}
  {% if page.js %}
    {% for script in page.js %}
      {% if 'top' in script[-7:] %}
        {{ script[:-5]|format(SITEURL) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
  <article class="page type-page status-publish hentry">
    <header class="entry-header">
      <h1 class="entry-title">{{ page.title }}</h1>
    </header>
    <div class="entry-content">
      {{ page.content }}
    </div>
    {% import 'translations.html' as translations with context %}
    {% if translations.translations_for(page) %}
      <footer class="entry-footer">
        <span class="icon-language" title="{{ ngettext('Traducción', 'Traducciones', page.translations|length) }}">
          {{ translations.translations_for(page) }}
        </span>
      </footer>
    {% endif %}
  </article>
{% endblock %}
