{% extends "base.html" %}

{% block content %}
<article class="page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">
      {% set len_period = period|length %}
      {%- if len_period == 1 -%}
        {{ _('Lista de artículos del %(año)d', año=period[0]) }}
      {%- elif len_period == 2 -%}
        {{ _('Lista de artículos de %(mes)s del %(año)d', año=period[0], mes=period[1]) }}
      {%- elif len_period == 3 -%}
        {{ _('Lista de artículos del %(dia)d de %(mes)s del %(año)d', año=period[0], mes=period[1], dia=period[2]) }}
      {%- endif -%}
    </h1>
  </header>
  <div class="entry-content">
    <dl>
      {% for article in dates %}
        <dt>{{ article.date|strftime('%A %-d de %B de %Y a las %H:%M %z') }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
</article>
{% endblock %}
