{% extends "index.html" %}

{% block extra_head %}
    <meta name="description" content="{{ _('Artículos marcados con la etiqueta «%(etiqueta)s» en Freak Spot.', etiqueta=tag|escape) }}">
    <meta name="keywords" content="{{ _('artículos,etiqueta,etiqueta %(etiqueta)s,%(etiqueta)s', etiqueta=tag|escape) }}">
{% endblock %}

{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}

{% block content %}
  <header class="page-header">
      <h1 class="page-title">{{ _('Etiqueta: %(etiqueta)s', etiqueta=tag) }}</h1>
  </header>
  {{ super() }}
{% endblock %}
