{% extends "base.html" %}

{% block extra_head %}
  <meta name="description" content="{% trans %}Lista de etiquetas de {{ SITENAME }}{% endtrans %}">
  <meta name="keywords" content="{{ _('etiquetas,palabras clave') }}">
{% endblock %}

{% block title %}{% trans %}Lista de etiquetas de {{ SITENAME }}{% endtrans %}{% endblock %}

{% block content %}
<article class="page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">{{ _('Lista de etiquetas') }}</h1>
  </header>
  <div class="entry-content">
    <ul>
      {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
