/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Genericons
 * 3.0 - Typography
 *   3.1 - Code Hilite
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus
 *   6.3 - Tag Cloud
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header
 * 11.0 - Widgets
 * 12.0 - Content
 *    12.1 - Posts and pages
 *    12.2 - Post Formats
 *    12.3 - Comments
 * 13.0 - Footer
 * 14.0 - Media
 *    14.1 - Captions
 *    14.2 - Galleries
 * 15.0 - Media Queries
 *    15.1 - Mobile Large
 *    15.2 - Tablet Small
 *    15.3 - Tablet Large
 *    15.4 - Desktop Small
 *    15.5 - Desktop Medium
 *    15.6 - Desktop Large
 *    15.7 - Desktop X-Large
 * 16.0 - Print
 */


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, h1, h2, h3, p, blockquote, pre, a, abbr, acronym, code, del, em, ins, kbd, s, strong, sup, dl, dt, dd, ol, ul, li, form, table, tbody, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #111111;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote::before,
blockquote::after {
    content: "";
}

blockquote {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

a:focus {
    outline: 2px solid #c1c1c1;
    outline: 2px solid rgba(190, 190, 190, 0.3);
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


/**
 * 2.0 - Genericons
 */

.secondary-toggle::before,
.dropdown-toggle::after,
.posted-on::before,
.cat-links::before,
.tags-links::before,
.comments-link::before,
.edit-link::before,
.pagination .prev::before,
.pagination .next::before,
.entry-content .more-link::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Genericons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
}


/**
 * 3.0 Typography
 */

body,
button,
input {
    color: #bebebe;
    font-family: "Noto Serif", serif;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
}

h1,
h2,
h3 {
    clear: both;
    font-weight: 700;
}

p {
    margin-bottom: 1.6em;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

blockquote {
    border-left: 4px solid #b8c2c2;
    border-left: 4px solid rgba(184, 194, 194, 0.7);
    color: #b8c2c2;
    color: rgba(184, 194, 194, 0.7);
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.6667;
    margin-bottom: 1.6667em;
    padding-left: 0.7778em;
}

blockquote p {
    margin-bottom: 1.6667em;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

code,
kbd,
pre {
    background-color: rgba(255, 255, 255, .04);
    border-radius: 3px;
    font-family: Inconsolata, monospace;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding-bottom: .2em;
    padding-top: .2em;
}

pre {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.2;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.8em;
    white-space: pre;
    word-wrap: break-word;
}

abbr[title] {
    border-bottom: 1px dotted #eaeaea;
    border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
    cursor: help;
}

mark,
ins {
    background-color: #fff9c0;
    text-decoration: none;
}

.entry-content ins a {
    color: #7b7ce0;
}

.entry-content ins a:hover {
    color: #b3b3ef;
}

sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}


/**
 * 3.1 Code Hilite
 */

.highlight pre {
    font-size: 75%;
}
.highlight .hll { background-color: #222222 }
.highlight  { background: #000000; color: #cccccc }
.highlight .c { color: #4E4F8E } /* Comment */
.highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.highlight .esc { color: #cccccc } /* Escape */
.highlight .g { color: #cccccc } /* Generic */
.highlight .k { color: #cdcd00 } /* Keyword */
.highlight .l { color: #cccccc } /* Literal */
.highlight .n { color: #cccccc } /* Name */
.highlight .o { color: #3399cc } /* Operator */
.highlight .x { color: #cccccc } /* Other */
.highlight .p { color: #fac0ba } /* Punctuation */
.highlight .ch { color: #4E4F8E } /* Comment.Hashbang */
.highlight .cm { color: #4E4F8E } /* Comment.Multiline */
.highlight .cp { color: #4E4F8E } /* Comment.Preproc */
.highlight .cpf { color: #4E4F8E } /* Comment.PreprocFile */
.highlight .c1 { color: #4E4F8E } /* Comment.Single */
.highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #cd0000 } /* Generic.Deleted */
.highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #4E4F8E; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00cd00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #4E4F8E; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.highlight .kt { color: #00cd00 } /* Keyword.Type */
.highlight .ld { color: #cccccc } /* Literal.Date */
.highlight .m { color: #cd00cd } /* Literal.Number */
.highlight .s { color: #cd0000 } /* Literal.String */
.highlight .na { color: #cccccc } /* Name.Attribute */
.highlight .nb { color: #cd00cd } /* Name.Builtin */
.highlight .nc { color: #00cdcd } /* Name.Class */
.highlight .no { color: #cccccc } /* Name.Constant */
.highlight .nd { color: #cccccc } /* Name.Decorator */
.highlight .ni { color: #cccccc } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #cccccc } /* Name.Function */
.highlight .nl { color: #cccccc } /* Name.Label */
.highlight .nn { color: #cccccc } /* Name.Namespace */
.highlight .nx { color: #cccccc } /* Name.Other */
.highlight .py { color: #cccccc } /* Name.Property */
.highlight .nt { color: orange } /* Name.Tag */
.highlight .nv { color: #00cdcd } /* Name.Variable */
.highlight .ow { color: #cdcd00 } /* Operator.Word */
.highlight .w { color: #cccccc } /* Text.Whitespace */
.highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
.highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
.highlight .sc { color: #cd0000 } /* Literal.String.Char */
.highlight .sd { color: #cd0000 } /* Literal.String.Doc */
.highlight .s2 { color: #cd0000 } /* Literal.String.Double */
.highlight .se { color: #cd0000 } /* Literal.String.Escape */
.highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.highlight .si { color: #cd0000 } /* Literal.String.Interpol */
.highlight .sx { color: #cd0000 } /* Literal.String.Other */
.highlight .sr { color: #cd0000 } /* Literal.String.Regex */
.highlight .s1 { color: #cd0000 } /* Literal.String.Single */
.highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
.highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */


/**
 * 4.0 Elements
 */

hr {
    background-color: #eaeaea;
    background-color: rgba(51, 51, 51, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 1.6em;
}

ul,
ol {
    margin: 0 0 1.6em 1.3333em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dl {
    margin-bottom: 1.6em;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.6em;
}

table,
th,
td {
    border: 1px solid #bebebe;
    border: 1px solid rgba(190, 190, 190, 0.1);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed; /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th, td {
    padding: 0.4em;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
}

del {
    opacity: 0.8;
}

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
}

:-moz-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
}

::-moz-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
}


/**
 * 5.0 Forms
 */

button,
input {
    background-color: #f7f7f7;
    border-radius: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

button,
input {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: normal;
}

input {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

input:focus {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #333;
}

input:focus {
    outline: 2px solid #c1c1c1;
    outline: 2px solid rgba(51, 51, 51, 0.3);
}

button {
    -webkit-appearance: button;
    background-color: #333;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7917em 1.5em;
    text-transform: uppercase;
}

button:hover,
button:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    outline: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="search"] {
    padding: 0.375em;
    width: 100%;
}

input[type="search"]:focus {
    outline: 0;
}


/**
 * 6.0 Navigations
 */


/**
 * 6.1 Links
 */

a {
    color: #bebebe;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #bcbcbc;
    color: rgba(190, 190, 190, 0.7);
}

/**
 * 6.2 Menus
 */

.main-navigation a {
    display: block;
    padding: 0.8em 0;
    position: relative;
    text-decoration: none;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
}

.main-navigation ul ul {
    display: none;
    margin-left: 0.8em;
}

.main-navigation ul .toggled-on {
    display: block;
}


.main-navigation li {
    border-top: 1px solid #a0a0a0;
    border-top: 1px solid rgba(160, 160, 160, 0.1);
    position: relative;
}

.main-navigation .current-menu-item > a {
    font-weight: 700;
}

.main-navigation .nav-menu > li:first-child {
    border-top: 0;
}

.dropdown-toggle {
    background-color: transparent;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    height: 42px;
    padding: 0;
    position: absolute;
    text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
    top: 3px;
    right: 0;
    width: 42px;
}

.dropdown-toggle::after {
    color: #333;
    content: "\f431";
    font-size: 24px;
    line-height: 42px;
    position: relative;
    top: 0;
    left: 1px;
    width: 42px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: #eaeaea;
    background-color: rgba(51, 51, 51, 0.1);
}

.dropdown-toggle:focus {
    outline: 1px solid #c1c1c1;
    outline: 1px solid rgba(51, 51, 51, 0.3);
}

.dropdown-toggle.toggle-on::after {
       content: "\f432";
}

.secondary-toggle {
    background-color: transparent;
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    cursor: pointer;
    height: 42px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 42px;
}

.secondary-toggle::before {
    color: #bebebe;
    content: "\f419";
    line-height: 40px;
    width: 40px;
}

.secondary-toggle:hover,
.secondary-toggle:focus {
    background-color: transparent;
    border: 1px solid #c1c1c1;
    border: 1px solid rgba(51, 51, 51, 0.3);
    outline: 0;
}

.secondary-toggle.toggled-on::before {
    content: "\f405";
    font-size: 32px;
    position: relative;
    top: 1px;
    left: -1px;
}

.post-navigation {
    background-color: #202020;
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    font-weight: 700;
}

.post-navigation a {
    display: block;
    padding: 3.8461% 7.6923%;
}

.post-navigation span {
    display: block;
}

.post-navigation .meta-nav {
    color: #707070;
    color: rgba(112, 112, 112, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    line-height: 1.5;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}

.post-navigation .post-title {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
    position: relative;
    z-index: 2;
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
    background-position: center;
    background-size: cover;
    position: relative;
}

.post-navigation a::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.post-navigation a:hover::before,
.post-navigation a:focus::before {
    opacity: 0.5;
}

.post-navigation .meta-nav {
    opacity: 0.8;
}

.post-navigation div + div {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.pagination {
    background-color: #202020;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    font-family: "Noto Sans", sans-serif;
}

.pagination .nav-links {
    min-height: 3.2em;
    position: relative;
    text-align: center;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
    position: static !important;
}

.pagination .page-numbers {
    display: none;
    line-height: 3.2em;
    padding: 0 0.6667em;
}

.pagination .page-number-dots {
    display: none;
}

.pagination .page-numbers.current {
    text-transform: uppercase;
}

.pagination .current {
    display: inline-block;
    font-weight: 700;
}

.pagination .prev,
.pagination .next {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #bebebe;
    color: #202020;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 48px;
}

.pagination .prev::before,
.pagination .next::before {
    font-size: 32px;
    height: 48px;
    line-height: 48px;
    position: relative;
    width: 48px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
    background-color: #bebebe;
    background-color: rgba(190, 190, 190, 0.7);
}

.pagination .prev {
    left: 0;
}

.pagination .prev::before {
    content: "\f430";
    left: -1px;
}

.pagination .next {
    right: 0;
}

.pagination .next::before {
    content: "\f429";
    right: -1px;
}

#menu-toggle-cbox:checked ~ .secondary {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
}

#menu-toggle-cbox {
    display: none;
}

/**
 * 6.3 Tag Cloud
 */

div.tagcloud a.tag-1 {
    font-size: 130%;
}

div.tagcloud a.tag-2 {
    font-size: 115%;
}

div.tagcloud a.tag-3 {
    font-size: 100%;
}

div.tagcloud a.tag-4 {
    font-size: 85%;
}

div.tagcloud a.tag-5 {
    font-size: 70%;
}


/**
 * 7.0 Accessibility
 */

/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
    background-color: #111111;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #21759b;
    display: block;
    font: bold 14px/normal "Noto Sans", sans-serif;
    left: -9999em;
    outline: none;
    padding: 15px 23px 14px;
    text-decoration: none;
    text-transform: none;
    top: -9999em;
}

.site .skip-link:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 100000;
}


/**
 * 8.0 Alignments
 */

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}


/**
 * 9.0 Clearings
 */

.site::before,
.site::after,
.entry-content::before,
.entry-content::after,
.site-content::before,
.site-content::after,
.nav-links::before,
.nav-links::after,
.textwidget::before,
.textwidget::after {
    content: "";
    display: table;
}

.site::after,
.entry-content::after,
.site-content::after,
.nav-links::after,
.textwidget::after {
    clear: both;
}


/**
 * 10.0 Header
 */

.site-header {
    background-color: #202020;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 7.6923%;
}

.site-branding {
    min-height: 2em;
    padding-right: 60px;
    position: relative;
}

.custom-logo {
    max-height: 84px;
    width: auto;
}

.site-description {
    display: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0.5em 0 0;
    opacity: 0.7;
}


/**
 * 11.0 Widgets
 */

.widget {
    color: #707070;
    color: rgba(112, 112, 112, 0.8);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 auto 9.09090%;
    width: 100%;
    word-wrap: break-word;
}

.widget input {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.widget input {
    line-height: normal;
}

.widget input[type="search"] {
    padding: 0.375em;
}

.widget-title {
    color: #bebebe;
    font-family: "Noto Sans", sans-serif;
    margin: 0 0 1.6em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.widget > :last-child {
    margin-bottom: 0;
}

.widget_categories a,
.widget_recent_entries a {
    border: 0;
}

.widget_categories ul,
.widget_recent_entries ul {
    list-style: none;
    margin: 0;
}

.widget_categories li,
.widget_recent_entries li {
    border-top: 1px solid #a0a0a0;
    border-top: 1px solid rgba(160, 160, 160, 0.1);
    padding: 0.7667em 0;
}

.widget_recent_entries .current-menu-item > a,
.widget_categories .current-menu-item > a {
    font-weight: 600;
}

.widget_categories li:first-child,
.widget_recent_entries li:first-child {
    border-top: 0;
    padding-top: 0;
}

.widget_categories li:last-child,
.widget_recent_entries li:last-child {
    padding-bottom: 0;
}

.textwidget > :last-child {
    margin-bottom: 0;
}

.textwidget a {
    border-bottom: 1px solid #333;
}

.textwidget a:hover,
.textwidget a:focus {
    border-bottom: 0;
}

.textwidget ul li{
    list-style-type: none;
}


/**
 * 12.0 Content
 */

.secondary {
    background-color: #202020;
    display: none;
    padding: 0 7.6923%;
}

.secondary.toggled-on {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
}

.widget-area {
    margin: 9.09090% auto 0;
}

.site-footer {
    background-color: #202020;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 3.84615% 7.6923%;
}


/**
 * 12.1 Posts and pages
 */

.hentry {
    background-color: #202020;
    padding-top: 7.6923%;
    position: relative;
}

.hentry.has-post-thumbnail {
    padding-top: 0;
}

.hentry + .hentry {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.post-thumbnail {
    border: 0;
    display: block;
    margin-bottom: 2.4em;
}
.post-thumbnail img {
    display: block;
    margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
    opacity: 0.85;
}

.entry-header {
    padding: 0 7.6923%;
    text-align: center;
}

.entry-title {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1538;
    margin-bottom: 0.9231em;
}

.entry-content {
    padding: 0 7.6923% 7.6923%;
}

.entry-content > :last-child {
    margin-bottom: 0;
}

.entry-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.entry-content h1 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1538;
    margin-top: 1.8462em;
    margin-bottom: 0.9231em;
}

.entry-content h2 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.3636;
    margin-top: 2.1818em;
    margin-bottom: 1.0909em;
}

.entry-content h3 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
    margin-top: 2.6667em;
    margin-bottom: 1.3333em;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child {
    margin-top: 0;
}

.entry-content a {
    border-bottom: 1px solid #333;
    color: white;
}

.entry-content a:hover,
.entry-content a:focus {
    border-bottom: 0;
    color: rgba(210, 210, 210, 0.7);
}

.entry-content a img {
    display: block;
}

.entry-content .more-link {
    white-space: nowrap;
}

.entry-content .more-link::after {
    content: "\f429";
    font-size: 16px;
    position: relative;
    top: 5px;
}

.entry-footer {
    background-color: #1b1b1b;
    color: #bebebe;
    color: rgba(190, 190, 190, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3.8461% 7.6923%;
}

.entry-footer a {
    border-bottom: 1px solid transparent;
    color: #bebebe;
    color: rgba(190, 190, 190, 0.7);
}

.entry-footer a:hover {
    border-bottom: 1px solid #bebebe;
}

.entry-footer a:hover,
.entry-footer a:focus {
    color: #b3b3b3;
}

.posted-on::before,
.cat-links::before,
.tags-links::before,
.comments-link::before,
.edit-link::before {
    margin-right: 2px;
    position: relative;
}

.posted-on,
.cat-links,
.tags-links,
.comments-link,
.edit-link {
    margin-right: 1em;
}

.posted-on::before {
    content: "\f307";
}

.cat-links::before {
    content: "\f301";
}

.tags-links::before {
    content: "\f302";
}

.comments-link::before {
    content: "\f300";
}

.edit-link::before {
    content: "\f411";
}

.comments-link,
.edit-link {
    white-space: nowrap;
}

.page-header {
    background-color: #202020;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 7.6923%;
}

.page-title {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
}


/**
 * 12.2 Post Formats
 */


/**
 * 12.3 Comments
 */

.comments-area {
    background-color: #202020;
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 7.6923%;
}

.comments-area > :last-child {
    margin-bottom: 0;
}


/**
 * 13.0 Footer
 */

.site-info {
    color: #bebebe;
    color: rgba(190, 190, 190, 0.7);
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.site-info a {
    border-bottom: 1px solid #666;
    color: #b3b3b3;
    color: rgba(190, 190, 190, 0.7);
}

.site-info a:hover {
    border-bottom: 1px solid #bebebe;
}

.site-info a:hover,
.site-info a:focus {
    color: #bebebe;
}

.site-info a[rel=license] {
    border-bottom: none;
}

.site-info ul {
    list-style: none;
}

.site-info ul li {
    display: inline;
}

.site-info ul li::after {
    content: " | ";
}

.site-info ul li:last-child::after {
    content: none;
}

/**
 * 14.0 Media
 */

audio {
    display: inline-block;
}

video {
    margin-bottom: 1.6em;
    max-width: 100%;
    vertical-align: middle;
}

.wp-audio-shortcode {
    font-size: 15px;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.6em;
}

a[rel=license] img {
    margin: 0 .5em .4em;
}

/**
 * 14.1 Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption-text {
    color: #707070;
    color: rgba(112, 112, 112, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}


/**
 * 14.2 Galleries
 */


/**
 * 15.0 Media Queries
 */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/**
 * 15.1 Mobile Large 620px
 */

@media screen and (min-width: 38.75em) {
    ul,
    ol {
        margin-left: 0;
    }

    blockquote {
        margin-left: -1em;
    }

    .site-branding {
        min-height: 3.2em;
    }

    .site-description {
        display: block;
    }

    .secondary {
        box-shadow: 0 0 1px rgba(32, 32, 32, 0.15);
        margin: 7.6923% 7.6923% 0;
        padding: 7.6923% 7.6923% 0;
    }

    .main-navigation {
        margin-bottom: 11.1111%;
    }

    .main-navigation ul {
        border-top: 1px solid rgba(51, 51, 51, 0.1);
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    }

    .widget-area {
        margin-top: 0;
    }

    .widget {
        margin-bottom: 11.1111%;
    }

    .site-main {
        padding: 7.6923% 0;
    }

    .hentry,
    .page-header {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 0 7.6923%;
    }

    .hentry + .hentry,
    .page-header + .hentry {
        margin-top: 7.6923%;
    }

    .hentry + .hentry {
        border-top: 0;
    }

    .post-thumbnail {
        margin-bottom: 2.4em;
    }

    .entry-header {
        padding: 0 9.0909%;
    }

    .entry-content {
        padding: 0 9.0909% 9.0909%;
    }

    .entry-footer {
        padding: 4.5454% 9.0909%;
    }

    .page-header {
        border-bottom: 0;
        border-left: 7px solid #bebebe;
        padding: 3.8461% 7.6923%;
    }

    .page-title {
        margin-left: -7px;
    }

    .site-footer {
        border-top: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 0 7.6923%;
        padding: 3.84615% 7.6923%;
    }

    .post-navigation {
        border-top: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 7.6923% 7.6923% 0;
    }

    .post-navigation a {
        padding: 4.5454% 9.0909%;
    }

    .pagination {
        border-top: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 7.6923% 7.6923% 0;
        padding: 0;
    }

    /* restore screen-reader-text */
    .pagination .current .screen-reader-text {
        position: absolute !important;
    }

    .pagination .page-numbers {
        display: inline-block;
    }

    .pagination .page-number-dots {
        display: inline-block;
    }

    .comments-area {
        border-top: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 7.6923% 7.6923% 0;
    }
}


/**
 * 15.2 Tablet Small 740px
 */

@media screen and (min-width: 46.25em) {
    body,
    button,
    input {
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 1.6471;
    }

    button,
    input {
        line-height: normal;
    }

    p,
    pre,
    hr,
    ul,
    ol,
    dl,
    dd,
    table {
        margin-bottom: 1.6471em;
    }

    blockquote {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.75;
        margin-bottom: 1.75em;
        margin-left: -1.05em;
        padding-left: 0.85em;
    }

    blockquote p {
        margin-bottom: 1.75em;
    }

    pre {
        line-height: 1.2353;
    }

    button {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 0.8214em 1.6429em;
    }

    input[type="search"] {
        padding: 0.5em;
    }

    .main-navigation {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .main-navigation a {
        padding: 1em 0;
    }

    .secondary-toggle {
        height: 56px;
        width: 56px;
    }

    .secondary-toggle::before {
        line-height: 54px;
        width: 54px;
    }

    .post-navigation .meta-nav,
    .entry-footer,
    .site-info,
    .wp-caption-text {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .pagination .nav-links {
        min-height: 3.2941em;
    }

    .pagination .page-numbers {
        line-height: 3.2941em;
        padding: 0 0.8235em;
    }

    .pagination .prev,
    .pagination .next {
        height: 56px;
        padding: 0;
        width: 56px;
    }

    .pagination .prev::before,
    .pagination .next::before {
        height: 56px;
        line-height: 56px;
        width: 56px;
    }

    .wp-caption.aligncenter,
    img.aligncenter {
        margin-top: 0.4118em;
        margin-bottom: 1.6471em;
    }

    .wp-caption.aligncenter {
        margin-bottom: 1.2353em;
    }

    .site-branding {
        min-height: 3.7059em;
        padding-right: 66px;
    }

    .custom-logo {
        max-height: 105px;
    }

    .site-description {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .widget {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .widget ul {
        margin-bottom: 1.5em;
    }

    .widget input {
        line-height: 1.75;
    }

    .widget input {
        line-height: normal;
    }

    .widget input[type="search"] {
        padding: 0.5625em;
    }

    .widget-title {
        margin: 0 0 1.5em;
    }

    .widget_categories li,
    .widget_recent_entries li {
        padding: 0.9643em 0;
    }

    .post-thumbnail {
        margin-bottom: 3em;
    }

    .entry-title {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 1.2;
        margin-bottom: 1.2em;
    }

    .entry-content h1 {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 1.2;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
    }

    .entry-content h2 {
        font-size: 29px;
        font-size: 2.9rem;
        line-height: 1.2069;
        margin-top: 1.931em;
        margin-bottom: 0.9655em;
    }

    .entry-content h3 {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.1667;
        margin-top: 2.3333em;
        margin-bottom: 1.1667em;
    }

    .entry-content .more-link::after {
        font-size: 24px;
        top: 2px;
    }

    .posted-on::before,
    .cat-links::before,
    .tags-links::before,
    .comments-link::before,
    .edit-link::before {
        top: 3px;
    }

    .page-title,
    .post-navigation .post-title {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.1667;
    }

    video {
        margin-bottom: 1.6471em;
    }

    .wp-audio-shortcode {
        font-size: 17px;
        font-size: 1.7rem;
        margin-bottom: 1.6471em;
    }

    .wp-caption {
        margin-bottom: 1.6471em;
    }
}


/**
 * 15.3 Tablet Large 880px
 */

@media screen and (min-width: 55em) {
    body,
    button,
    input {
        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.6842;
    }

    button,
    input {
        line-height: normal;
    }

    p,
    pre,
    hr,
    ul,
    ol,
    dl,
    dd,
    table {
        margin-bottom: 1.6842em;
    }

    blockquote {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.8182;
        margin-bottom: 1.8182em;
        margin-left: -1.0909em;
        padding-left: 0.9091em;
    }

    blockquote p {
        margin-bottom: 1.8182em;
    }

    pre {
        line-height: 1.2632;
    }

    button {
        font-size: 16px;
        font-size: 1.6rem;
        padding: 0.8125em 1.625em;
    }

    input[type="search"] {
        padding: 0.5278em;
    }

    .main-navigation {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .main-navigation a {
        padding: 0.75em 0;
    }

    .secondary-toggle {
        height: 64px;
        width: 64px;
    }

    .secondary-toggle::before {
        line-height: 62px;
        width: 62px;
    }

    .post-navigation .meta-nav,
    .entry-footer,
    .site-info,
    .wp-caption-text {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .pagination .nav-links {
        min-height: 3.3684em;
    }

    .pagination .page-numbers {
        line-height: 3.3684em;
        padding: 0 0.8421em;
    }

    .pagination .prev,
    .pagination .next {
        height: 64px;
        padding: 0;
        width: 64px;
    }

    .pagination .prev::before,
    .pagination .next::before {
        height: 64px;
        line-height: 64px;
        width: 64px;
    }

    .wp-caption.aligncenter,
    img.aligncenter {
        margin-top: 0.4211em;
        margin-bottom: 1.6842em;
    }

    .wp-caption.aligncenter {
        margin-bottom: 1.2632em;
    }

    .site-branding {
        min-height: 3.7895em;
        padding-right: 74px;
    }

    .custom-logo {
        max-height: 104px;
    }

    .site-description {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .widget {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .widget input {
        line-height: 1.5;
    }

    .widget input {
        line-height: normal;
    }

    .widget input[type="search"] {
        padding: 0.75em;
    }

    .widget_categories li,
    .widget_recent_entries li {
        padding: 0.7188em 0;
    }

    .post-thumbnail {
        margin-bottom: 2.9474em;
    }

    .entry-title {
        font-size: 39px;
        font-size: 3.9rem;
        line-height: 1.2308;
        margin-bottom: 1.2308em;
    }

    .entry-content h1 {
        font-size: 39px;
        font-size: 3.9rem;
        line-height: 1.2308;
        margin-top: 1.641em;
        margin-bottom: 0.8205em;
    }

    .entry-content h2 {
        font-size: 32px;
        font-size: 3.2rem;
        line-height: 1.25;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .entry-content h3 {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.1852;
        margin-top: 2.3704em;
        margin-bottom: 1.1852em;
    }

    .entry-content .more-link::after {
        top: 3px;
    }

    .posted-on::before,
    .cat-links::before,
    .tags-links::before,
    .comments-link::before,
    .edit-link::before {
        top: 4px;
    }

    .page-title,
    .post-navigation .post-title {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.1852;
    }

    video {
        margin-bottom: 1.6842em;
    }

    .wp-audio-shortcode {
        font-size: 19px;
        font-size: 1.9rem;
        margin-bottom: 1.6842em;
    }

    .wp-caption {
        margin-bottom: 1.6842em;
    }
}


/**
 * 15.4 Desktop Small 955px
 */

@media screen and (min-width: 59.6875em) {
    body::before {
        background-color: #202020;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        content: "";
        display: block;
        height: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 29.4118%;
        z-index: 0; /* Fixes flashing bug with scrolling on Safari */
    }

    .site {
        margin: 0 auto;
        max-width: 1403px;
    }

    .sidebar {
        float: left;
        margin-right: -100%;
        max-width: 413px;
        position: relative;
        width: 29.4118%;
    }

    .secondary {
        background-color: transparent;
        box-shadow: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    .site-main {
        padding: 8.3333% 0;
    }

    .site-content {
        display: block;
        float: left;
        margin-left: 29.4118%;
        width: 70.5882%;
    }

    body {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 1.6;
    }

    p,
    pre,
    hr,
    ul,
    ol,
    dl,
    dd,
    table {
        margin-bottom: 1.6em;
    }

    blockquote {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.6667;
        margin-bottom: 1.6667em;
        margin-left: -1.3333em;
        padding-left: 1.1111em;
    }

    pre {
        line-height: 1.2;
    }

    button,
    input {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    button,
    input {
        line-height: normal;
    }

    button {
        font-size: 12px;
        font-size: 1.2rem;
        padding: 0.7917em 1.5833em;
    }

    input[type="search"] {
        padding: 0.375em;
    }

    .main-navigation {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 20% 20%;
    }

    .main-navigation a {
        padding: 0.5em 0;
    }

    .dropdown-toggle {
        height: 24px;
        width: 24px;
    }

    .dropdown-toggle::after {
        font-size: 16px;
        line-height: 24px;
        width: 24px;
    }

    .secondary-toggle {
        display: none;
    }

    .post-navigation .meta-nav,
    .entry-footer,
    .site-info,
    .wp-caption-text {
        font-size: 12px;
        font-size: 1.2rem;
    }

    .post-navigation {
        margin: 8.3333% 8.3333% 0;
    }

    .post-navigation a {
        padding: 5% 10%;
    }

    .pagination {
        margin: 8.333% 8.333% 0;
    }

    .pagination .nav-links {
        min-height: 3.2em;
    }

    .pagination .page-numbers {
        line-height: 3.2em;
        padding: 0 0.8em;
    }

    .pagination .prev,
    .pagination .next {
        height: 48px;
        padding: 0;
        width: 48px;
    }

    .pagination .prev::before,
    .pagination .next::before {
        height: 48px;
        line-height: 48px;
        width: 48px;
    }

    .wp-caption.aligncenter,
    img.aligncenter {
        clear: both;
        margin-top: 0.4em;
        margin-bottom: 1.6em;
    }

    .wp-caption.aligncenter {
        margin-bottom: 1.2em;
    }

    .site-header {
        background-color: transparent;
        border-bottom: 0;
        margin: 20% 0;
        padding: 0 20%;
    }

    .site-branding {
        min-height: 0;
        padding: 0;
    }

    .custom-logo {
        max-height: none;
    }

    .site-description {
        font-size: 12px;
        font-size: 1.2rem;
        text-align: center;
    }

    .widget {
        font-size: 12px;
        font-size: 1.2rem;
        margin: 0 0 20%;
        padding: 0 20%;
    }

    .widget input {
        font-size: 12px;
        font-size: 1.2rem;
    }

    .widget input[type="search"] {
        padding: 0.4583em;
    }

    .widget_categories li,
    .widget_recent_entries li {
        padding: 0.4583em 0;
    }

    .hentry,
    .page-header {
        margin: 0 8.3333%;
    }

    .hentry {
        padding-top: 8.3333%;
    }

    .hentry + .hentry,
    .page-header + .hentry {
        margin-top: 8.3333%;
    }

    .post-thumbnail {
        margin-bottom: 2.4em;
    }

    .entry-header {
        padding: 0 10%;
    }

    .entry-title {
        font-size: 31px;
        font-size: 3.1rem;
        line-height: 1.1613;
        margin-bottom: 1.1613em;
    }

    .entry-content {
        padding: 0 10% 10%;
    }

    .entry-content h1 {
        font-size: 31px;
        font-size: 3.1rem;
        line-height: 1.1613;
        margin-top: 1.5484em;
        margin-bottom: 0.7742em;
    }

    .entry-content h2 {
        font-size: 26px;
        font-size: 2.6rem;
        line-height: 1.3846;
        margin-top: 1.8462em;
        margin-bottom: 0.9231em;
    }

    .entry-content h3 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.3636;
        margin-top: 2.1818em;
        margin-bottom: 1.0909em;
    }

    .entry-content .more-link::after {
        font-size: 16px;
        top: 5px;
    }

    .entry-footer {
        padding: 5% 10%;
    }

    .posted-on::before,
    .cat-links::before,
    .tags-links::before,
    .comments-link::before,
    .edit-link::before {
        top: 0;
    }

    .page-header {
        padding: 4.1666% 8.3333%;
    }

    .page-title,
    .post-navigation .post-title {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.3333;
    }

    .comments-area {
        margin: 8.3333% 8.3333% 0;
        padding: 8.3333%;
    }

    .site-footer {
        float: left;
        margin: 0 0 0 35.2941%;
        padding: 0;
        width: 58.8235%;
    }

    .site-info {
        padding: 5% 10%;
    }

    video {
        margin-bottom: 1.6em;
    }

    .wp-audio-shortcode {
        font-size: 15px;
        font-size: 1.5rem;
        margin-bottom: 1.6em;
    }

    .wp-caption {
        margin-bottom: 1.6em;
    }
}


/**
 * 15.5 Desktop Medium 1100px
 */

@media screen and (min-width: 68.75em) {
    body,
    button,
    input {
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 1.6471;
    }

    button,
    input {
        line-height: normal;
    }

    p,
    pre,
    hr,
    ul,
    ol,
    dl,
    dd,
    table {
        margin-bottom: 1.6471em;
    }

    blockquote {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.75;
        margin-bottom: 1.75em;
        margin-left: -1.05em;
        padding-left: 0.85em;
    }

    blockquote p {
        margin-bottom: 1.75em;
    }

    pre {
        line-height: 1.2353;
    }

    button {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 0.8214em 1.5714em;
    }

    input[type="search"] {
        padding: 0.5em;
    }

    .main-navigation {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .main-navigation a {
        padding: 0.4643em 0;
    }

    .dropdown-toggle {
        height: 28px;
        width: 28px;
    }

    .dropdown-toggle::after {
        line-height: 28px;
        width: 28px;
    }

    .post-navigation .meta-nav,
    .entry-footer,
    .site-info,
    .wp-caption-text {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .pagination .nav-links {
        min-height: 3.2941em;
    }

    .pagination .page-numbers {
        line-height: 3.2941em;
        padding: 0 0.8235em;
    }

    .pagination .prev,
    .pagination .next {
        height: 56px;
        padding: 0;
        width: 56px;
    }

    .pagination .prev::before,
    .pagination .next::before {
        height: 56px;
        line-height: 56px;
        width: 56px;
    }

    .wp-caption.aligncenter,
    img.aligncenter {
        margin-top: 0.4118em;
        margin-bottom: 1.6471em;
    }

    .wp-caption.aligncenter {
        margin-bottom: 1.2353em;
    }

    .site-description {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .widget {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .widget input {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .widget input[type="search"] {
        padding: 0.5em;
    }

    .widget_categories li,
    .widget_recent_entries li {
        padding: 0.4643em 0;
    }

    .post-thumbnail {
        margin-bottom: 2.4706em;
    }

    .entry-title {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 1.2;
        margin-bottom: 1.2em;
    }

    .entry-content h1 {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 1.2;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
    }

    .entry-content h2 {
        font-size: 29px;
        font-size: 2.9rem;
        line-height: 1.2069;
        margin-top: 1.931em;
        margin-bottom: 0.9655em;
    }

    .entry-content h3 {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.1667;
        margin-top: 2.3333em;
        margin-bottom: 1.1667em;
    }

    .entry-content .more-link::after {
        font-size: 24px;
        top: 2px;
    }

    .posted-on::before,
    .cat-links::before,
    .tags-links::before,
    .comments-link::before,
    .edit-link::before {
        top: 3px;
    }

    .page-title,
    .post-navigation .post-title {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.1667;
    }

    video {
        margin-bottom: 1.6471em;
    }

    .wp-audio-shortcode {
        font-size: 17px;
        font-size: 1.7rem;
        margin-bottom: 1.6471em;
    }

    .wp-caption {
        margin-bottom: 1.6471em;
    }
}


/**
 * 15.6 Desktop Large 1240px
 */

@media screen and (min-width: 77.5em) {
    body,
    button,
    input {
        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.6842;
    }

    button,
    input {
        line-height: normal;
    }

    p,
    pre,
    hr,
    ul,
    ol,
    dl,
    dd,
    table {
        margin-bottom: 1.6842em;
    }

    blockquote {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.8182;
        margin-bottom: 1.8182em;
        margin-left: -1.0909em;
        padding-left: 0.9091em;
    }

    blockquote p {
        margin-bottom: 1.8182em;
    }

    pre {
        line-height: 1.2632;
    }

    button {
        font-size: 16px;
        font-size: 1.6rem;
        padding: 0.8125em 1.625em;
    }

    input[type="search"] {
        padding: 0.5278em;
    }

    .main-navigation {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .main-navigation a {
        padding: 0.5em 0;
    }

    .dropdown-toggle {
        height: 32px;
        top: 4px;
        width: 32px;
    }

    .dropdown-toggle::after {
        line-height: 32px;
        width: 32px;
    }

    .post-navigation .meta-nav,
    .entry-footer,
    .site-info,
    .wp-caption-text {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .pagination .nav-links {
        min-height: 3.3684em;
    }

    .pagination .page-numbers {
        line-height: 3.3684em;
        padding: 0 0.8421em;
    }

    .pagination .prev,
    .pagination .next {
        height: 64px;
        padding: 0;
        width: 64px;
    }

    .pagination .prev::before,
    .pagination .next::before {
        height: 64px;
        line-height: 64px;
        width: 64px;
    }

    .wp-caption.aligncenter,
    img.aligncenter {
        margin-top: 0.4211em;
        margin-bottom: 1.6842em;
    }

    .wp-caption.aligncenter {
        margin-bottom: 1.2632em;
    }

    .site-description {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .widget {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .widget input {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .widget input[type="search"] {
        padding: 0.5em;
    }

    .widget_categories li,
    .widget_recent_entries li {
        padding: 0.4688em 0;
    }

    .post-thumbnail {
        margin-bottom: 2.9474em;
    }

    .entry-title {
        font-size: 39px;
        font-size: 3.9rem;
        line-height: 1.2308;
        margin-bottom: 1.2308em;
    }

    .entry-content h1 {
        font-size: 39px;
        font-size: 3.9rem;
        line-height: 1.2308;
        margin-top: 1.641em;
        margin-bottom: 0.8205em;
    }

    .entry-content h2 {
        font-size: 32px;
        font-size: 3.2rem;
        line-height: 1.25;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .entry-content h3 {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.1852;
        margin-top: 2.3704em;
        margin-bottom: 1.1852em;
    }

    .entry-content .more-link::after {
        top: 3px;
    }

    .posted-on::before,
    .cat-links::before,
    .tags-links::before,
    .comments-link::before,
    .edit-link::before {
        top: 4px;
    }

    .page-title,
    .post-navigation .post-title {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.1852;
    }

    video {
        margin-bottom: 1.6842em;
    }

    .wp-audio-shortcode {
        font-size: 19px;
        font-size: 1.9rem;
        margin-bottom: 1.6842em;
    }

    .wp-caption {
        margin-bottom: 1.6842em;
    }
}


/**
 * 15.7 Desktop X-Large 1403px
 */

@media screen and (min-width: 87.6875em) {
    body::before {
        width: -webkit-calc(50% - 289px);
        width: calc(50% - 289px);
    }
}


/**
 * 16.0 Print
 */

@media print {
    body {
        background: none !important; /* Brute force since user agents all print differently. */
        font-size: 11.25pt;
    }

    .secondary-toggle,
    .navigation,
    .edit-link,
    button,
    input {
        display: none;
    }

    .site-header,
    .site-footer,
    .hentry,
    .entry-footer,
    .page-header,
    .comments-area {
        background: none !important; /* Make sure color schemes dont't affect to print */
    }

    body,
    blockquote,
    a,
    .site-description,
    .post-title,
    .entry-footer,
    .entry-footer a,
    .site-info,
    .site-info a,
    .wp-caption-text {
        color: #000 !important; /* Make sure color schemes don't affect to print */
    }

    pre,
    abbr[title],
    table,
    th,
    td,
    .site-header,
    .site-footer,
    .hentry + .hentry,
    .page-header,
    .comments-area {
        border-color: #eaeaea !important; /* Make sure color schemes don't affect to print */
    }

    .site {
        margin: 0 7.6923%;
    }

    .sidebar {
        position: relative !important; /* Make sure sticky sidebar doesn't affect to print */
    }

    .site-branding {
        padding: 0;
    }

    .site-header {
        padding: 7.6923% 0;
    }

    .site-description {
        display: block;
    }

    .hentry + .hentry {
        margin-top: 7.6923%;
    }

    .hentry.has-post-thumbnail {
        padding-top: 7.6923%;
    }

    .entry-header,
    .entry-footer {
        padding: 0;
    }

    .entry-content {
        padding: 0 0 7.6923%;
    }

    .post-thumbnail img {
        margin: 0;
    }

    .page-header {
        padding: 3.84615% 0;
    }

    .comments-area {
        border: 0;
        padding: 7.6923% 0 0;
    }

    .site-footer {
        margin-top: 7.6923%;
        padding: 3.84615% 0;
    }
}
